<div class="container-fluid" style="background-color: #eee;">

	<%= render '/all_other_partials/navbar_for_dashboard_stuff' %>

	<div class="row" style="position:relative ;height: 490px; background-color: #eee; ">

		<div class="col-md-2">


		</div>

		<div class="col-md-8" style="height: 95% ; background-color:white ; padding: 20px 5px 10px 15px ;">

			<!-- _____________________________________________ -->
			<!-- |              |            |               | -->
			<!-- |  ___________ | __________ | ___________   | -->
			<!-- |  |_________| | |________| | |_________|   | -->
			<!-- |  |         | | |        | | |         |   | -->
			<!-- |  |         | | |        | | |         |   | -->
			<!-- |  |         | | |        | | |         |   | -->
			<!-- |  |_________| | |________| | |_________|   | -->
			<!-- |______________|____________|_______________| -->

			<!-- used panels from bootstrap and placed each in a cell  -->
			<table style="position:relative ;height: 100% ; width: 100% ; border-collapse: separate; border-spacing: 20px;">

				<tr  >

					<td>


						<%= link_to edit_petowner_basic_predetails_path(@petowner.id) , :style => "text-decoration:none ;"   do %>

							<div class="panel panel-default" style="position:relative; height: 60% ;">

							  <div class="panel-heading" style="text-align:center;">
							    <h3 class="panel-title" style="font-family: marydale ; color: #8ad9e1 ; font-size: 20px; font-weight:bold ;">Account Details</h3>
							  </div>

							  <div class="panel-body" style="text-align:center ;">
							    <i class="fa fa-pencil-square-o fa-4x" style="color: #8ad9e1 ; "></i>
							    <br/>
							    <span style="font-weight:bold;color: #585858  ;">Update info</span>
							  </div>

							</div>

						<% end %>

					</td>




					<td>

						<%= link_to petowner_add_pets_path(@petowner.id) , :style => "text-decoration:none ;"   do %>

							<div class="panel panel-default" style="position:relative; height: 60% ;">

							  <div class="panel-heading" style="text-align:center;">
							    <h3 class="panel-title" style="font-family: marydale ; color: #8ad9e1 ; font-size: 20px; font-weight:bold ;">Pet(s) details</h3>
							  </div>

							  <div class="panel-body" style="text-align:center ;">
							    <i class="fa fa-plus-circle fa-4x" style="color: #8ad9e1 ; "></i>
							    <br/>
							    <span style="font-weight:bold;color: #585858  ;">Add pet(s)</span>
							  </div>

							</div>

						<% end %>

					</td>




					<td>
						
						<a href="">

							<div class="panel panel-default" style="position:relative; height: 60% ;">

							  <div class="panel-heading" style="text-align:center;">
							    <h3 class="panel-title" style="font-family: marydale ; color: #8ad9e1 ; font-size: 20px; font-weight:bold ;">Pet(s) details</h3>
							  </div>

							  <div class="panel-body" style="text-align:center ;">
							    <i class="fa fa-pencil-square-o fa-4x" style="color: #8ad9e1 ; "></i>
							    <br/>
							    <span style="font-weight:bold;color: #585858  ;">
							    
							    	Update your

							    	 <!-- this makes the site more personalized to each petowner because we can tell whether they have one or more than one pets   -->
							    	 <!-- SIDE NOTE: possessive is a gem -->

							    	<% if @petowner.pets.count > 1 %>

							    		<%= "pets".possessive %>
							    		
							    	<% else %>

							    		<%= "pet".possessive %>

							    	<% end %>

							    	info
							    </span>
							  </div>

							</div>


						</a>
						
					</td>

				</tr>

			</table>


		</div>

		<div class="col-md-2">


		</div>


	</div>









</div>

<script type="text/javascript">

	$("li#tab_for_edit_profile").addClass("active") ;


</script>