$("div#div_to_be_hidden").removeClass("hide");

// this is to remove previous flash messages if they exist - so that they don't stack up on each other 
if ( $("p.flash").length ) 
{
	$("p.flash").remove() ;
};



$("div.col-md-6").prepend("<% if flash[:notice] %><p class='flash notice'><%= j flash[:notice] %></p><% end %>");

$("form#actual_form_for_filling_location").html("<%= j render partial: '/all_other_partials/form_errors' , :locals => { object: @residential_area_obj } %><div class='form-group'><%= j label_tag :name_of_location , 'Name of location to be added'  %><%= j text_field_tag :name_of_location , nil , class: 'form-control' %></div><%= j submit_tag  'Add Location' , class: 'btn btn-lg btn-success' %>") ;


// escape_javascript or j calls gsub on whatever you pass it which doesn't make sense for a number.give it a string instead
// also the link_to do thing esp the do part doesnt work so well with the j function
$("table#table_of_all_locations").html("<tr><th>#</th><th>Name</th><th colspan='2' class='text-center' > Actions </th></tr><tbody><% i = 1 %><% @all_locations.each do | location | %><tr><td><%= j i.to_s %></td><td><%= j location.name_of_location %></td><td style='text-align:center; color:#00b200;'><i class='fa fa-pencil'></i><%= j link_to(' Edit' , edit_residential_area_path(location.id) , class: 'link_for_edit_pet') %></td><td style='text-align:center;color:#ff3232;'><i class='fa fa-times-circle'></i><%= j link_to( ' Remove' , residential_area_path(location.id) ,  method: :delete , data: {confirm: 'Are you sure ?'} , class: 'link_for_removing_pet' ) %></td></tr><% i += 1 %><% end %></tbody>") ;