
<div class="container-fluid" style="background-color: #eee; ">

	<!-- this will be the first gray space after the header -->
	<div class="row" style="height: 10px;">

	</div>

	<!-- this will be the container that contains actual content of petsitter, all his details -->
	<div class="row" style="height: 660px ; background-color: #eee; ">

		<!-- leave 2 columns to the right of the edge -->
		<div class="col-md-1">

		</div>


		<div class="col-md-10" style="background-color: white ; position: relative ; height: 99%">

			<!-- first table is like container of everything that has 2 columns - one for petsitter details and titles and description, another for calendar and confirmation booking form and images -->

			<!-- ________________________________________________-->
			<!-- | _______________________________ | __________ | -->
			<!-- | |                             | | |        | | -->
			<!-- | |                             | | |        | | -->
			<!-- | |                             | | |        | | -->
			<!-- | |_____________________________| | |        | | -->
			<!-- | |                             | | |        | | -->
			<!-- | |                             | | |________| | -->
			<!-- | |                             | | |        | | -->
			<!-- | |_____________________________| | |        | | -->
			<!-- | |                             | | |        | | -->
			<!-- | |                             | | |        | | -->
			<!-- | |                             | | |        | | -->
			<!-- | |_____________________________| | |________| | -->
			<!-- |_________________________________|____________| -->
			<table style="position: relative; height: 100% ; padding: 5px 5px 5px 5px ;" >

				<tr style="position: relative; height: 100% ;"> 

					<!-- column for titles , petsitter prof description and pet sitter formal details  -->
					<td style="width=65%;">

						<!-- within this column(cell) we have three rows for each of the stated things above -->
						<!-- therefore we need to create another table -->
						<table style="position: relative; height: 100% ;" >

							<!-- this row will have the name and place of location of petsitter and listing name -->
							<tr style="position: relative ;height: 10% ;">

								<td style="text-align:center ;">

									<table>

										<!-- this is where the name of the petsitter will appear -->
										<tr>
											<td style="color: #2a494b; font-size: 30px; font-family: rifficfreebold ; font-weight:normal ;">
												<%= @petsitter_querried.first_name %> 

												&nbsp; <!-- this is white space character in html -->

												<%= @petsitter_querried.surname[0] %>. 

											</td>

										</tr>

										<!-- this is where the listing name of petsitter will appear -->
										<tr>
											<td style="color: #2a494b; font-size: 19px; font-family: rifficfreebold ; font-weight:lighter ;" >
												<%= custom_listing_name(@petsitter_querried) %>
											</td>
										</tr>

										<!-- this is where residential area of petsitter will appear -->
										<tr>
											<td style="color: #2a494b; font-size: 15px; font-family: rifficfreebold ; font-weight:100 ;">
												<%= @petsitter_querried.residential_area.name_of_location %>
											</td>
										</tr>


									</table>


								</td>


							</tr>

							<!-- this row will have the lengthened profile desciption of petsitter if any -->
							<tr style="height: 40% ;">
								<td >
									<span style="font-family: marydale; font-size: 26px ; color: #00acc1 ;font-weight:bolder;">
										All  about  me
									</span>
									<% if @petsitter_querried.profile_description.blank? %>
										<p>
											As a child I have always had a special place in my heart for animals. In my eyes they are angels on earth.

										</p>
										<p> 
											I will therefore care for your adorable pet in a loving and caring way by providing the comfort and care of a loving, experienced home with plenty of playtime activities.
										</p>

						

									<% else %>

										<% @petsitter_querried.profile_description.split("." , 3 ).each do |paragraph|  %>

											<p style="font-size: 13px ;">
												<%= paragraph %>
											</p>

										<% end %>

									<% end %>

									
								</td>
							</tr>

							<!-- this row will contain all the formal details like how many pets they own , years of experience -->
							<tr>
								<td>
									<span style="font-family: marydale; font-size: 26px ; color: #00acc1;font-weight:bolder; ">
										Formal  Details
									</span>

									<table class="table table-striped"  style=" font-size: 13px ;" >

										<tr>
											<td style="text-align:left;">

												Price/Charges

											</td>

											<td style="text-align:right; font-weight: bolder;">

												<%= custom_price_rate(@petsitter_querried) %>

											</td>

											<td style="text-align:left;">

												No of yrs caring for pets

											</td>

											<td style="text-align:right; font-weight: bolder;">

												<%= custom_no_of_yrs_caring(@petsitter_querried) %>

											</td>

										</tr>


										<tr>

											<td style="text-align:left;">

												Type of house

											</td>

											<td style="text-align:right; font-weight: bolder;">

												<%= custom_type_of_home(@petsitter_querried) %>

											</td>

											<td style="text-align:left;">

												No of pets owned

											</td>

											<td style="text-align:right; font-weight: bolder;">

												<%= custom_no_of_pets_owned( @petsitter_querried ) %>

											</td>

										</tr>

										<tr>

											<td style="text-align:left;">

												Presence of open area around house


											</td>

											<td style="text-align:right; font-weight: bolder;">

												<%= custom_presence_of_open_area(@petsitter_querried) %>

											</td>

											<td style="text-align:left;">

												Pets

											</td>

											<td style="text-align:right; font-weight: bolder;">

												<%= custom_petscare_for( @petsitter_querried ) %>
											</td>


										</tr>

										<tr>

											<td style="text-align:left;">

												Work situation

											</td>

											<td style="text-align:right; font-weight: bolder;">

												<%= custom_work_situation(@petsitter_querried) %>

											</td>


											<td style="text-align:left;  ">

												Services offered

											</td>

											<td style="text-align:right; font-weight: bolder;">

												<%= custom_services_offered( @petsitter_querried  ) %>


											</td>

										</tr>

									</table>

								</td>
							</tr>


						</table>

					</td>

					<!-- column for rounded image, availability calendar and confirmation booking form -->
					<td style="width: 35% ; padding: 8px 5px 2px 5px ; ">
						
						<!-- within this column we have three rows one for image, one for calendar the other for the form -->
						<!-- ____________________________ -->
						<!-- |                          | -->
						<!-- |                          | -->
						<!-- |__________________________| -->
						<!-- |                          | -->
						<!-- |                          | -->
						<!-- |__________________________| -->
						<!-- |                          | -->
						<!-- |                          | -->
						<!-- |__________________________| -->
						<table style="background-color: #eee; height:100%;">


							<!-- this row will have the image of petsitter and name underneath -->
							<tr style="position: relative ; height: 30% ;">

								<td style="text-align:center ; ">

									<%= customize_thumbnail_pic(@petsitter_querried) %>

								</td>

								

							</tr>



							<!-- this row has the availability calendar of petsitter -->
							<tr style="position: relative ; height: 35% ; border-bottom: 2px solid #ddd ;">

								<td style="text-align: center ;">

									<span  style="font-family: marydale; font-size: 22px ; color: #00acc1; "> Availability </span>

									<div name="unavailabledates" id="datespicked" style="font-size: 12px ; position:relative ; margin-left:60px ; margin-bottom: 9px ;"    />

								</td>
							</tr>




							<!-- this row has the confirmation booking form - might have some repetitive fields from search query page but we need to confirm stuff like days or sitting services just to be sure coz this info is vital  -->
							<tr >

								<td>

									<!-- NOTE TO FUTURE SELF: HAVE TO FIND A WAY TO  CENTER THIS WHOLE FORM WITHOUT USING MARGINS CSS ON ACTUAL STUFF, FIND A BETTER WAY !!!!!!!!!!!! -->

									<!-- this form posts to bookings controller create_booking action -->
								<%= form_tag create_booking_record_path, :id => "confirmation_booking_form"  do %>

									<!-- this section will show form errors like lack of choosing a pet from the checkbix or lack of choosing dates -->
									<div id="row_for_errors_of_confirmation_form" >

										<ul>

										</ul>

									</div>



									<table>

										<tr>

											<td >

												<p class="form-group" style=" position:relative  ; margin: 10px 5px 15px 35px  ;" >


													<!-- the first parameter of select_tag is the name and id value of the select tag to be created as a whole -->


													<!-- the select helper generates the select tag, the first parameter is the name of the attribute we want the select tag for while the second parameter is the list of options it will give as a dropdown - usually an array would do the job , BUT not in our case -->

													<!-- THE OPTIONS_FROM_COLLECTION_FOR_SELECT helper within select helper helps in generating the option tags themselves but generates those option tags from a collection of objects from a certain model say ResidentialArea which is what we want -->

													<!-- THE OPTIONS_FROM_COLLECTION_FOR_SELECT helper takes as first argument collection of objects from a model then second argument is the name of the attribute of the object which will give the value of the option tag and the third argument is the name of the attribute of the object which will give the name/text of the option tag to be seen by user -->

													<!-- the fourth parameter of the select tag not the option tags within is what will allow us to use the BOOTSTRAP CLASS for form controls -->
													<%= select_tag "type_of_sitting_service" , options_from_collection_for_select(@petsitter_querried.sittingservices , 'id' , 'service_name')  , class:"form-control" , style: "border: 1px solid #00acc1 ; width:90%; " %>

												</p>
											</td>


										</tr>

										<tr>
											<td style="text-align: center ;">

											  <% for item in @petsitter_querried.pettypes %>

											  		<label class="checkbox-inline">

													  <input type="checkbox" name="petschoseninshowpage[]"  value="<%= item.type_name %>"  /> 
													  <%= item.type_name %>

													</label>

											  		
											  <% end %>
											
							
											</td>


										</tr>


										<!-- this row within the confirmation booking row has the period of care -->

										<tr>

											<td>
												<!-- since we need a pick up and dropoff date field, we need to create 2 columns within this cell .So we can within this table cell, create A HTML table with a row that has two columns: -->

												<table>
													<tbody>
														<tr>
															<!-- this will contain the field for the dropoff day -->
															<td>
																<div class="form-group text-center">
																
																	<input class=" form-control datepicker" name="dropoffdate" placeholder="Drop off date" type="text" style="border: 1px solid #00acc1 ;  position:relative  ; margin: 5px 0px 2px 10px  ;" />
																</div>

															</td>

															

															<!-- this will contain the field for the pickup day -->
															<td>

																<div class="form-group">
																
																	<input class=" form-control datepicker" name="pickupdate" placeholder="Pick Up date" type="text" style="border: 1px solid #00acc1 ;  position:relative  ; margin: 5px 50px 2px 0px  ;" autofocus />

																</div>


															</td>

														</tr>
													</tbody>
												</table>

											</td>

										</tr>


										<!-- contains button for reservation  -->
										<tr>

											<td style="text-align:center;">

												<button class="btn " type="submit" style="background-color: #ec6350; ; color: white ; width:80% ; font-size: 14px; font-weight:bolder ;" >
													Confirm Booking
												</button>

											</td>

										</tr>

									</table>

								<% end %>
								</td>
							</tr>


						</table>
						

					</td>

				</tr>

			</table>


		</div>


		<div class="col-md-1">


		</div>

	</div>

</div>

<script type="text/javascript">
	
	var array_of_unavailabledates = <%= format_dates_for_js(@petsitter_querried) %> ;

	
	$( ".datepicker" ).multiDatesPicker({

      changeYear: true,
      showButtonPanel: true ,
      minDate: 0 ,
      dateFormat: "yy-mm-dd" , //this is customizing the date format because the default format is mm-dd-yyyy which is a deprecated format in ruby that doesn't work well with to_date function
      <% if @petsitter_querried.unavailabledates.any? %>
      		addDisabledDates: <%= format_dates_for_js(@petsitter_querried) %> ,
      <% end %>
      maxPicks: 1 ,
      

      
      

    });

    $("#datespicked").multiDatesPicker({

    	

		// As with the jQuery Datespicker, you can define a minimum and maximum date from where to pick dates from.
		// The values are relative to the current date.
		// so minimum value to pick dates from is current valie of today therefore the value is 0 from today
		minDate: 0 ,
		dateFormat: "yy-mm-dd" , //this is customizing the date format because the default format is mm-dd-yyyy which is a deprecated format in ruby that doesn't work well with to_date function
		 <% if @petsitter_querried.unavailabledates.any? %>
				addDisabledDates: <%= format_dates_for_js(@petsitter_querried) %>
		<% end %>

	});

	$("#confirmation_booking_form").submit( function(event) {



		// this line below is so that when we resubmit confirmation form that had errors and upon resubmission we still have errors , we can clear off the first submission errors and show the current errors.
		$("div#row_for_errors_of_confirmation_form").children().html("");

		// what should happen when we submit this form - we want to check for whether any of the checkboxes for petschosen is selected if none is we stop normal default submission and show error message somewhere 

		var counter = 0 ; //will be used to check the number of checked checkboxes

		// the statement below is equal to $(":checkbox")  where :checkbox is a selector is a class offered by jquery
		// this line says go through the the DOM and find elements with an input type of checkbox and to them we apply each method which iterates over each matched element in the collection and does something
		$("[type=checkbox]").each( function() {

			// this is the current element in the collection of element
			if (this.checked)
			{
				counter++ ;		
			}


		}) ;

		if ( counter == 0 )
		{
			// we first stop the normal default behaviour of the form submitting data to server
			event.preventDefault() ;

			// we want to set the html content of the div with form errors for confirmation booking
			$("div#row_for_errors_of_confirmation_form").addClass("flash alert") ;

			// if you want to add one ccs style then another later use commas between attribute and value BUT when writing many stylesat once use colon between attribute and value and commas between the different styles.
			// remember .html overwrites but .appends adds on to 
			// .html is like .empty().append()
			$("div#row_for_errors_of_confirmation_form").css({'padding' : '4px' , 'font-size' : '11px' , 'font-weight' : 'bold' }); 
			$("div#row_for_errors_of_confirmation_form").children().append("<li>Choose at least a pet </li>") ;

		}



		if ( (  $("input[name='dropoffdate']").val() == ""  ) || ( $("input[name='pickupdate']").val() == ""  ) )
		{
			// we first stop the normal default behaviour of the form submitting data to server
			event.preventDefault() ;

			
			// --------------same as if statement above----------------------\

			$("div#row_for_errors_of_confirmation_form").addClass("flash alert") ;

			// only diff is what the list element reads out
			$("div#row_for_errors_of_confirmation_form").css({'padding' : '4px' , 'font-size' : '11px' , 'font-weight' : 'bold' }); 
			$("div#row_for_errors_of_confirmation_form").children().append("<li>Date(s) not chosen </li>") ;
			// ----------------------------------------------------------------

		}





	}) ;

 </script>